/************
FORM Elements 
************/

.formhome
{
	font-family		 : Verdana, Arial, Helvetica, sans-serif;
	font-size		 : 10px;
	background-color : #A59E70;
	color			 : #D6D3BF;
}

.formElements
{	
	font-size	: 10px; 
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

.form
{  
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size			: 10px;
	/*border				: 1px #000000 inset;*/
	color				: #000000;
	/*background-color	: #DFDFDF;*/
	background-color	: #CFCFCF;

	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	text-indent : 2px;	
}

input.form
{  
	/*font-family			: Verdana;
	font-size			: 10px;
	border				: 1px #000000 inset;
	color				: #000000; */
	height				: 17px;
	/*background-color	: #FFFFFF;*/
}

/*input.form {
 FONT-SIZE: 12px;
 FONT-FAMILY: Tahoma,Helvetica;
 COLOR: #000000;
 BACKGROUND-COLOR: #CFCFCF;
 
 border-top-width : 1px;
 border-right-width : 1px;
 border-bottom-width : 1px;
 border-left-width : 1px;
 text-indent : 2px;
}*/


.formbutton
{
	font-family			: Verdana;
	font-size			: 10px;
	border				: 1px #000000 inset;
	color				: #000000; 
	/*height				: 17px;*/
	background-color	: #DFDFDF;
	border				: 1px #000000 inset;
}


textarea.form
{
	font-family			: Tahoma;
	font-size			: 10px;
	/*border			: 1px #000000 solid;*/
	color				: #000000; 	
	background-color	: #CFCFCF;
}	


input.search
{  
	font-family			: Verdana;
	font-size			: 10px;
	border				: 1px #000000 inset;
	color				: #000000;
	height				: 17px;
	background-color	: #CECECE;
}