/***************************
NAVIGATION BAR COLORS
***************************/

/* divider color */
.navdivider
{
	background-color	: #000000; 
}

/****************************
 nav link styles 
****************************/
.navdefaultlink
{ 
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #CCCCCC; /* CCCCCC */
	text-decoration	: none;
}
.navdefaultlink:hover
{
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #CCCCCC; 
	text-decoration	: none;
}

.navsecondlevellink
{ 
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #CECECE; 
	text-decoration	: none;
}
.navsecondlevellink:hover
{
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #FFFFFF; 
	text-decoration	: underline;
}

.divider 
{ 
	color: #999999; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 10px; 
	font-weight: normal; 
}

TD.headerdefault
{
	BORDER-TOP: #DEDEDE 1px solid;	
	BACKGROUND-IMAGE: url(/images/headerimages/headerdefault.gif); 
	BACKGROUND-REPEAT: repeat-x; 
}

TD.headermymtw
{
	BORDER-TOP: #D0DABD 1px solid;
	BACKGROUND-IMAGE: url(/images/headerimages/headermymtw.gif); 
	BACKGROUND-REPEAT: repeat-x; 
}