body {
	scrollbar-base-color: #464646;
	scrollbar-arrow-color: #FFFFFF;
}

.box
{
	border	: 1px solid black;
}

.box1
{
	border-left			: 1px solid #000000;
	border-bottom		: 1px solid #000000;
	border-right		: 1px solid #000000;
	background-color	: #B5B5B5; /* DFDFDF */
}

.box2
{
	border-left			: 1px solid #000000;
	border-bottom		: 1px solid #000000;
	border-right		: 1px solid #000000;
	background-color	: #CECECE; /* CECECE */
}

.box3
{
	border-top			: 1px solid #000000;
	border-left			: 1px solid #000000;
	border-bottom		: 1px solid #000000;
	border-right		: 1px solid #000000;
	background-color	: #CECECE; /* CECECE */
}

.boxcomments
{
	background-color	: #585858;/*#B5B5B5;*/
}

.boxcomments1
{	
	background-color	: #B5B5B5;/*#B5B5B5;*/
}

.boxcomments2
{	
	background-color	: #8C8C8C;/*#919191;*/
}

.boxcomments3
{	
	background-color	: #CECECE;
}

.smalltext 
{ 
	font-family	: Verdana; 
	font-size	: 10;
	color		: #000000;/*#424542;*/
}

.whitelink 
{ 
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: bold; 
	color			: #FFFFFF; 
	text-decoration	: none;
}

.whitelink:hover
{
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: bold; 
	color			: #FFFFFF; 
	text-decoration	: underline;
}

.orangelink
{ 
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #C90000;/*#B54508;*/
	text-decoration	: none;
}

.orangelink:hover
{
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #C90000;
	text-decoration	: underline;
}

.greylink
{ 
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #CCCCCC; 
	text-decoration	: none;
}

.greylink:hover
{
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: normal; 
	color			: #CCCCCC; 
	text-decoration	: underline;
}

.blacklink
{ 
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: bold; 
	color			: #000000; 
	text-decoration	: none;
}

.blacklink:hover
{
	font-family		: Verdana, Arial, Helvetica, sans-serif; 
	font-size		: 10px; 
	font-weight		: bold; 
	color			: #000000; 
	text-decoration	: underline;
}

/* home area colors */
.home
{
	color			: #A59E70;
}

TR.home
{
	background-color	: #A59E70;
	color				: #FFFFFF;
}

TD.home
{
	background-color	: #A59E70;
}

TD.home3d
{
	background-color	: #D6D3BF;
}

.smalltext 
{ 
	font-family	: Verdana; 
	font-size	: 10;
	color		: #000000;/*#424542;*/
}