body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	overflow-x: hidden;
	scrollbar-base-color: #464646;
	scrollbar-arrow-color: #FFFFFF;
}

a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	text-decoration: underline;
}

a:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-size: 10px;
	text-decoration: none;
}

a.link {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	text-decoration: underline;
}